/* tablets */
@media only screen and (max-width: 768px){
    /* .outlet-container{
        padding-left: 0;
        padding-right: 0;
    } */

    .mobile-menu header nav{
        top: 18%;
    } 
    .short-header nav{
        top: 15% !important;
        /* border: 1px solid red; */
    }


    /* admin panel styles */
    .section-admin-panel{
        /* width: 100vw; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-admin-panel .back-link-container{
        display: none;
    }
    .section-admin-panel .link-agregar-registro{
        padding: 5px;
    }
    .section-admin-panel .information-text{
        width: 50%;
    }
    .section-admin-panel .contenedor-agregar-registro{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 20px;
    }
    .section-admin-panel .contenedor-agregar-registro .link-regresar{
        padding: 12px;
        display: block;
        height: auto;
    }
    .contenedor-editar-eliminar{
        padding: 10px;
        gap: 5px;
        flex-direction: column;
    }
    .contenedor-editar-eliminar a, .contenedor-editar-eliminar button{
        width: 80% !important;
    }

    /* admin form create styles */
    .section-create-admin{
        width: 75%;
        margin: 0 auto;
    }
    .section-create-admin input[type="text"],
    .section-create-admin input[type="email"],
    .section-create-admin input[type="password"],
    .section-create-admin input[type="number"]{
        width: 97%;
    }
    .create-form-admin-panel .back-link-container,
    .page-container .back-link-container{
        display: flex;
        justify-content: center;
    }
    .section-admin-panel .contenedor-eliminar{
        width: 50%;
    }

    /* admin form edit styles */
    .section-editar{
        width: 75%;
    }
    .edit-form-admin-panel .section-form-edit{
        width: 100%;
    }
    .cancelar-profile{
        width: 120%;
    }

    /* admin panel main page */
    .links-administración{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .categories-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* main page styles */
    .main-banner{
        width: 90vw;
    }

    /* products cards & carousel */
    .proyect-card{
        pointer-events: none;
        max-height: 60vh;
    }
    .proyect-card button,
    .proyect-card a {
        pointer-events: auto;
    }
    .products-cards-container .proyect-card{
        grid-column: span 2;
        height: auto;
        overflow: hidden;
    } 
    .products-cards-container .proyect-card .images-container{
        position: relative;
        height: 100%;
    }
    .results-container{
        display: flex;
        flex-direction: column;
    }
    .categories-container{
        width: 82%;
    }
    .header-mobile-title-container a{
        text-decoration: none;
        color: #393939;
    }
    .contenedor-desc-home p{
        display: none;

    }
    .products-cards-container .proyect-card .main-content,
    .products-cards-container .proyect-card .hidden-content,
    .products-cards-container .proyect-card .second-hidden-content{
        position: relative;
    }
    .products-cards-container .proyect-card .main-content{
        transform: translateY(-100%);
    }
    .products-cards-container .proyect-card .hidden-content{
        transform: translateY(-311%);
    }
    .products-cards-container .proyect-card .second-hidden-content{
        transform: translateY(-380%);
    }

    .carousel-item{
        max-height: 85vh;
        width: 50%;
    }
    .carousel-item .proyect-card .main-content{
        transform: translateY(-50%);
    }
    .carousel-item .proyect-card .hidden-content{
        transform: translateY(0%);
    }
    .carousel-item .proyect-card .second-hidden-content{
        transform: translateY(-160%);
    }

    .carousel-track.products-cards-container {
        display: flex;
        grid-template-columns: unset;
    }

    .view-cleaner-important-div{
        margin-top: 55vh;
    }

    /* login and register and profile*/
    .section-login{
        width: 50%;
    }

    .section-register{
        width: 60%;
    }
    
    .section-register div input:last-child{
        width: 105%;
    }

    
    .section-profile{
        width: 50%;
    }
    .div-profile{
        width: 60%;
    }
    .profile-no-uptade{
        height: fit-content;
        width: 52vw;
    }
    .div-profile form{
        width: 100%;
    }

    .modificar-profile{
        width: 100%;
    }

    .cancelar-profile{
        width: 100%;
    }

    /* detalles del producto */
    .product-details{
        padding: 20px;
        max-width: 95%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: fit-content;
    }
    .product-details .images-container{
        height: auto;
        width: 60%;
        margin: 0 auto;
    }
    .product-details .details{
        width: 80%;
    }
    .details-reviews-container{
        grid-template-columns: repeat(4, 1fr);
    }

    /* carritos */
    .menu-global-container .cart-container{
        width: 80vw;
    }

    /* facturas pagos */
    .factura-container{
        width: 80%;
    }

    .categories-page .categories-container{
        grid-column: span 2;
    }
    .categories-page .products-search-results{
        grid-column: span 2;
    }

    .about-sweet-glow{
        flex-direction: column;
        gap: 20px;
    }
    .about-sweet-glow div{
        width: 100%;
    }
    .contenedor-editar-botones{
        width: 100%;
    }
}

@media only screen and (max-width: 470px){
    .main-banner{
        width: 80vw;
        top: 20%;
    }
    .section-sobre-nosotros .image-container{
        transform: translateY(-50%);
    }
    .contenedor-desc-home{
        margin-top: 0;
    }
    .view-cleaner-important-div{
        margin-top: 25vh;
    }
    .products-cards-container .proyect-card{
        grid-column: span 4;
    }
    .products-cards-container .proyect-card .main-content{
        transform: translateY(-90%);
    }
    .carousel-item{
        width: 100%;
    }
    .about-sweet-glow div:last-child p{
        width: 100%;
    }
    .about-sweet-glow div:last-child p:last-child{
        width: 80%;
    }
    
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery .big-photo{
        grid-column: span 1;
        grid-row: span 1;
    }
    footer{
        width: 100vw;
        overflow: hidden;
    }
    footer .container-icons{
        width: 100% !important;
    }
    footer .container-links{
        flex-direction: column;
    }
    .contenedor-eliminar div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .contenedor-eliminar div button{
        width: 100% !important;
    }
    .section-admin-panel .contenedor-eliminar {
        width: 85%;
    }
    .menu-global-container .cart-container{
        width: 100vw;
    }
    .categories-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-sobre-nosotros img{
        transform: translateX(-3%);
    }

    .section-terminos p, .section-politicas-privacidad p, .section-politica-envios p, .section-atencion-cliente p, .section-sobre-nosotros p{
        margin-left: 5px;
        margin-right: 5px;
    }

    
    /* login and register */
    .section-login{
        width: 80%;
    }
    .section-register{
        width: 80%;
    }
    .section-register form div{
        grid-column: span 2 !important;
    }
    .section-register form div input{
        width: 93%;
    }
    .section-register form div input[type="submit"]{
        width: 99%;
    }
    .mobile-menu header .mobile-main-container ul{
        width: 93vw;
    }

    /* admin panel */
    .section-admin-panel{
        width: auto;
    }
    .section-links-admin .links-administración{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-admin-panel .titulo-por-h1{
        font-size: 23px;
    }
    .section-admin-panel .information-text{
        width: 80%;
    }
    .section-admin-panel .contenedor-agregar-registro{
        flex-direction: column;
        gap: 10px;
        min-height: fit-content;
    }
    .section-admin-panel .contenedor-agregar-registro a,
    .section-admin-panel .contenedor-agregar-registro button{
        width: 100%;
    }
    .section-admin-panel .contenedor-agregar-registro a{
        width: 96%;
    }
    .contenedor-editar-eliminar{
        padding: 0;
        min-height: fit-content;
        min-width: fit-content;
    }
}

/* mobile L */
@media only screen and (max-width: 425px){
    .mobile-menu .short-header nav{
        top: 19%;
    }

    /* cart */
    .menu-global-container .cart-container{
        width: 100vw;
        padding: 10px 0px;
        gap: 0;
    }
    .pay-confirmation-buttons{
        width: 100%;
    }
    .confirmation-card{
        width: 90%;
    }

    /* cards an carousel */

    .products-cards-container .proyect-card{
        grid-column: span 4;
    }
    .products-cards-container .proyect-card .second-hidden-content{
        flex-direction: column;
        gap: 10px;
    }
    .products-cards-container .proyect-card .second-hidden-content div:first-child{
        width: 100%;
    }
    .products-cards-container .proyect-card .second-hidden-content div{
        width: 100%;
    }
    .products-cards-container .proyect-card .second-hidden-content div button{
        padding: 10px;
        width: 100%;
    }
    .products-cards-container .proyect-card .second-hidden-content{
        transform: translateY(-370%);
    }

    .products-cards-container .proyect-card .main-content{
        transform: translateY(-455%);
    }

    .products-cards-container .proyect-card .hidden-content{
        transform: translateY(-410%);
    }
    .carousel-item{
        width: 100%;
    }
    .carousel-container .products-cards-container .proyect-card .main-content{
        transform: translateY(-280%);
    }
    .carousel-container .products-cards-container .proyect-card .hidden-content{
        transform: translateY(-190%);
    }
    .carousel-container .products-cards-container .proyect-card .second-hidden-content{
        transform: translateY(-155%);
    }

    
    /* detalles del producto */
    .product-details .images-container{
        width: 100%;
        height: auto;
    }
    /* header */
    .mobile-menu .short-header{
        width: 90%;
    }
    .add-to-cart{
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        grid-template-columns: unset !important;
        margin-left: 0px !important;
        gap: 30px;
    }
    .add-to-cart div{
        max-width: 100%;
    }
    .add-to-cart div:last-child button{
        width: 100% !important;
    }

    /* facturas pagos */
    .factura-container{
        width: 90%;
        padding: 20px 5px;
    }
    .factura-container h1{
        font-size: 1.8em;
    }
    .factura-container h2{
        font-size: 17px;
    }
    .factura-container .card-factura .cart-product-container{
        flex-direction: column;
    }
    .factura-container .card-factura .cart-product-container .image-container{
        width: 100%;
    }
    .factura-container .card-factura .cart-product-container .info-container{
        align-items: center;
        width: 100%;
    }

    /* searcher */
    .searcher-container{
        width: 92vw;
    }
    .searcher-container .categories-container, .searcher-container .products-search-results{
        grid-column: span 2;
    }

    .categories-page{
        padding: 0;
    }
    .categories-page .searcher-container{
        width: 80%;
    }
}

@media only screen and (max-width: 385px){
    .main-banner {
        top: 25%;
    }
    .contenedor-desc-home h2{
        font-size: 14px;
    }
    .contenedor-desc-home .h1-home{
        font-size: 20px;
    }
    .products-cards-container .proyect-card .main-content {
        transform: translateY(-75%)
    }
    .products-cards-container .proyect-card .hidden-content {
        transform: translateY(-200%)
    }
    .products-cards-container .proyect-card .second-hidden-content {
        transform: translateY(-100%)
    }
    .carousel-container .products-cards-container .proyect-card .main-content {
        transform: translateY(-19%)
    }
    .carousel-container .products-cards-container .proyect-card .second-hidden-content{
        transform: translateY(-50%)
    }
    .carousel-container .products-cards-container .proyect-card .hidden-content {
        transform: translateY(-50%)
    }
    .contenedor-campos{
        width: 84.6%;
    }
    .filled-cart .products-container .product-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filled-cart .products-container .product-container .image-container{
        width: 50%;
        margin-left: 0;
    }
    .filled-cart .products-container .product-container .product-details-cart{
        width: 90%;
    }
}

/* mobile m */
@media only screen and (max-width: 375px){
    /* home page styles */
    .page-title{
        font-size: 23px;
    }
    .main-banner{
        max-width: 94vw;
    }
    
    /* header styles */
    .mobile-menu .short-header nav{
        top: 17%;
    }

    /* admin panel */
    .section-admin-panel .paginations-buttons{
        width: 100%;
    }
    .section-editar{
        width: 80%;
    }
    .contenedor-editar-botones .modificar-profile{
        min-width: 127%;
    }
    .contenedor-editar-botones .cancelar-profile{
        min-width: 120%;
    }
    .create-form-admin-panel .back-link-container, .page-container .back-link-container{
        min-width: 105%;
    }

    /* carousel and cards */
    .products-cards-container .proyect-card .main-content{
        transform: translateY(-450%);
    }
    .carousel-container .products-cards-container .proyect-card .main-content{
        transform: translateY(-210%);
    }
    .carousel-container .products-cards-container .proyect-card .hidden-content{
        transform: translateY(-135%);
    }
    .carousel-container .products-cards-container .proyect-card .second-hidden-content{
        transform: translateY(-105%);
    }
    .products-cards-container .proyect-card .second-hidden-content{
        transform: translateY(-366%);
        max-width: 94%;
    }
    .products-cards-container .proyect-card .second-hidden-content div{
        min-width: 93%;
    }

    .about-sweet-glow div:last-child{
        padding: 0;
    }

    /* carrito */
    .filled-cart h1{
        font-size: 30px;
    }
    .filled-cart .product-container{
        flex-direction: column;
    }
    .filled-cart .image-container{
        max-width: 100%;
    }
    .filled-cart .product-details-cart .quantities-container{
        width: 100%;
        margin-top: 10px;
    }
    .filled-cart .product-details-cart div:first-child{
        width: 100%;
    }
    .filled-cart .product-details-cart div:last-child{
        min-width: 80%;
    }
    .menu-global-container .cart-container .product-container .info{
        width: 100%;
    }
    .menu-global-container .cart-container .product-container .actions-buttons-container{
        width: 100%;
    }

    .user-loader h1{
        font-size: 27px;
    }

    /* facturas y pagos */
    .factura-container .card-factura .cart-product-container p:nth-child(2){
        font-size: 11px;
    }
}


@media only screen and (max-width: 340px){
    .phrase-section{
        font-size: 14px;
    }
    .main-banner{
        max-width: 75vw;
    }
    .products-cards-container{
        width: 95%;
        margin: 0 auto;
    }
    .products-cards-container .proyect-card{
        height: 50vh;
    }
}

/* mobile s */
@media only screen and (max-width: 320px){
    /* home page */
    .main-banner p{
        font-size: 15px;
    }
    .about-sweet-glow h1{
        font-size: 25px;
    }

    .section-sobre-nosotros .image-container{
        transform: translateX(5%) translateY(-60%);
    }

    /* carousel and cards */
    .carousel-container .products-cards-container .proyect-card .main-content{
        transform: translateY(-92%);
    }
    .carousel-container .products-cards-container .proyect-card .hidden-content{
        transform: translateY(-58%);
    }
    .carousel-container .products-cards-container .proyect-card .second-hidden-content{
        transform: translateY(-45%);
    }
    .products-cards-container .proyect-card .main-content{
        transform: translateY(-90%);
    }
    .products-cards-container .proyect-card .hidden-content{
        transform: translateY(-280%);
    }
    .products-cards-container .proyect-card .second-hidden-content{
        transform: translateY(-150%);
        max-width: 94%;
    }
    .products-cards-container .proyect-card .second-hidden-content div{
        min-width: 93%;
    }

    /* profile */
    .profile-no-uptade{
        width: 80vw;
    }
    .div-profile{
        width: 80%;
    }

    /* product details */
    .add-to-cart div:last-child button{
        font-size: 12px !important;
    }
    .outlet-container{
        padding-left: 0;
        padding-right: 0;
    }
}